<div id = "set-avatar-box" class="blocks cream">
  <button type="button" class="close-button transparent">X</button><br>
  <p>
    UPLOAD FORM
  </p>
  <div class="upload-form">
    <p>File name: </p>
    <p><input type="file" name="name" value=""></p>
  </div>
  <div class="login-buttons">
    <button type="button" id="login-button">UPLOAD</button>
    <button type="button" id="password-button">CANCEL</button>
  </div>
</div>
