// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orange {
  background-color: #F2701F;
}
.light-brown {
  background-color: #BF8F71;
}
.brown {
  background-color: #69300E;
}
.cream {
  background-color: #E3D4CA;
  z-index: 0;
}
.light-gray {
  background-color: #D6D4D2;
}
.transparent {
  /*background-color: rgba(255, 255, 255, 1);*/
  background-color: inherit;
  border: none
}
.josefin-font {
  font-family: 'Josefin Slab', serif;
}
.block-title {
  font-weight: bold;
  font-size: 120%;
}
.big-text {
  font-size: 54px;
  overflow-wrap: break-word;
  height: 420px;
  line-height: 50px;
  color: black;
}
.big-text p {
  width: 160px;
  // font-family: "Josefin Slab";
  // font-size: 60px;
}
.legios {
  margin: 20px 20px;
  height: 30px;
  text-align: left;
}
.legios p {
  margin-top: 7px;
  margin-left: 10px;
  color: white;
  padding-top: 8px;
}
.legios p span {
  text-align: right;
  float: right;
  margin-right: 10px;
}
#legio-hispania {
  height: 490px;
  order: 0;
  text-align: center;
}
#image-block {
  height: 250px;
  order: 1;
  position: relative;
}
#big-text-block {
  order: 3;
  height: 520px;
}
#map-with-charts {
  order: 2;
  height: 520px;
}
#surrender {
  order: 4;
  text-align: center;
}
#image-block > img, #map-with-charts > img {
  position: absolute;
  z-index: -1;
  width: 340px;
  height: 240px;
}
#big-text-block img, #surrender img {
  margin-top: 20px;
}
#surrender img {
  margin-bottom: 20px;
}
#surrender > p > span {
  color: grey;
}
#login-box, #upload-box {
  display: none;
  position: absolute;
  top: 180px;
  left: 410px;
  width: 340px;
  height: 220px;
  z-index: 10;
  padding-left: 20px;
}
#login-box {
  display: none;
}
.secondary-section {
  margin-top: 280px;
}
.warfare-blocks {
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 60%;
  color: grey;
}
.warfare-blocks span {
  float: right;
  margin-top: -15px;
}
.big-text p {
  margin: 15px 60px 5px 25px;
}
img.circular {
  border-radius: 50%;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.close-button {
  float: right;
  font-family: sans-serif;
}
.close-button:active {
  color: #F2701F;
}
div#image-block #play-button {
  float: left;
  position: absolute;
  bottom: 5px; /* parent was positioned as relative for this to work */
}
.blocks {
  margin: 20px;
  width: 340px;
  border: 1px solid black;
}
#block-1 {
  text-align: center;
  height: 280px;
  order: -1;
}
#block-1 > img {
  height: 80px;
  width: 80px;
}
.rings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rings span {
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
}
.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-footer div {
  text-align: center;
}

.grad {
    background: #E3D4CA; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#E3D4CA, #BF8F71); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#E3D4CA, #BF8F71); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#E3D4CA, #BF8F71); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#E3D4CA, #BF8F71); /* Standard syntax */
}

@media (max-width: 1200px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 1600px;
  }
}

@media (max-width: 767px) {
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 2900px;
  }
}
